@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: auto;
    line-height: 1em;
}

a
{
    text-decoration: none;
}

li
{
    list-style-type:none;
}

header 
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
}

main
{
    width: 90%;
    margin: auto;
}

/* Nav */

header>nav>ul 
{
    display: flex;
    justify-content: space-around;
}

header>nav>ul>li
{
    padding: 0 0 0 3em;
}

nav>ul>li>a
{
    color:#0065FC;
}

nav>ul>li>a:hover
{
    color:black;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

/* research */

#research>i
{
    background-color:#F2F2F2;
    padding: 0.8em;
    border-radius: 15px 0 0 15px;
}

#research>input
{
    padding: 0.8em;
    border: 0.2mm solid #F2F2F2;
}

#research
{
    display: flex;
}

#research>button
{
    background-color:#0065FC;
    color:#FFFFFF;
    border-radius: 0 15px 15px 0;
    padding: 1em;
    border: #0065FC;
}

/* filtered */

#filtered
{
    font-size: 0.8em;
    padding: 1.5em 0 1.5em 0;
}

#filtered>span>i
{
    color: #0065FC;
    background-color: #e0ecfd;
    padding: 0.8em;
    border-radius: 100%;
    margin-right: 0.8em;
    width:1em;
    height:1em;
    text-align: center;
}

#filtered>span
{
    margin: 1.2em;
    border: 1mm solid #F2F2F2;
    border-radius: 25px;
    padding: 0.5em 1em 0.5em 0;
    border-left: none;
    font-size: 1.2em;
}

#filtered>span:hover
{
    background-color: #e0ecfd;
    border-color: #e0ecfd;
}

#number
{
    font-size: 0.8em;
}

#number>i
{
    font-size: 0.7em;
    color: #0065FC;
    padding: 0.3em;
    border: 0.8mm solid #F2F2F2;
    border-radius: 50%;
    margin: 1em 0.5em 1em 0;
    width:1em;
    height:1em;
    text-align: center;
}

/* results */

#results
{
    display: flex;
    justify-content: space-between;
}

/* city results */

#city_results
{
    width: 63%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#city_results>div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2em 0 2em;
    gap: 1em;       /* remplace margin dans #city_results>div>article */
}

#city_results>h2
{
    margin: 1em 2em 1em 2em;
    padding-top: 0.5em;
}

#city_results>div>article
{
    background-color: white;
    border: 1mm solid white;
    border-radius: 15px;
    width: 30%;
    /* margin-bottom: 2em;
    padding-bottom: 1em; */
}

#city_results>div>article>a>img
{
    width: 100%;
    height: 8em;
    border-radius: 15px 15px 0 0;
    object-fit: cover; 
}

.info_results
{
    color: black;
    font-size: 0.8em;
    margin-left: 1em;
    line-height: 1em;
}

.show_results>a
{
    color: black;
    margin: 0 0 2em 0;
    font-weight: bold;
}

/* popular */

#popular
{
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#popular>section
{
    margin: 0 2em 0 2em;
}

#popular>section>h2
{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
}

.popular_flex
{
    display: flex;
    flex-direction: row;
}

.popular_flex>img
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

#popular>section>div
{
    display: flex;
    flex-direction: column;
    background-color: red;     /* Help */
}

#popular>section>div>article
{
    border: 1mm solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: 0.8em;
}

#popular>section>div>article>a
{
    color: black;
}

.popular_flex>div
{
    margin-left: 2em;
}

/* activités */

#activities
{
    display: flex;

}

#activities>article
{
    border-radius: 15px 15px 15px 15px;
    background-color: red;                      /* Help */
}

#activities>article>a>img
{
    border-radius: 15px 15px 15px 15px;
}

#activities>article>a>p
{
    margin-left: 1.5em;
}

/* footer */

footer
{
    background-color: #F2F2F2;
}

footer>nav
{
    width: 90%;
    margin: auto;
    display: flex;
}

footer>nav>section
{
    margin-right: 10em;
    padding-top: 2em;
}

footer>nav>section>h2
{
    font-size: 1em;
}

footer>nav>section>ul
{
    padding: 0;
}

footer>nav>section>ul>li>a
{
    color: black;
    line-height: 2em;
}