@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: auto;
    line-height: 1em;
}

a
{
    text-decoration: none;
}

li
{
    list-style-type:none;
}

header 
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
}

main
{
    width: 90%;
    margin: auto;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

.shadow {
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 10%), 5px 5px 10px 0 rgb(0 0 0 / 10%);
}

/* nav header */

.nav_header ul
{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin: 0;
    padding: 0;
}


.nav_header a
{
    color:#0065FC;
    padding: 1em 1em 1em 1em;
    text-align: center;
    display: inline-block;
}

.nav_header .activ
{
    border-top: 2px solid #0065FC;
}

.nav_header a:hover
{
    color:black;
}

/* research */

.research>i
{
    background-color:#F2F2F2;
    padding: 0.8em;
    border-radius: 15px 0 0 15px;
}

.research input
{
    padding: 0.8em;
    border: 0.2mm solid #F2F2F2;
}

.research
{
    display: flex;
}

.research button
{
    background-color:#0065FC;
    color:#FFFFFF;
    border-radius: 0 15px 15px 0;
    padding: 1em;
    border: #0065FC;
}

.research>button>i
{
    display: none;
}

/* filtered */

.filtered
{
    display: flex;
    font-size: 0.8em;
    padding: 1.5em 0 1.5em 0;
}

.title_filtered
{
    margin-top: auto;
    margin-bottom: auto;
}

.filtered_flex i
{
    color: #0065FC;
    background-color: #e0ecfd;
    padding: 0.8em;
    border-radius: 100%;
    margin-right: 0.8em;
    width:1em;
    height:1em;
    text-align: center;
}

.filtered_flex span
{
    margin: 1.2em;
    border: 1mm solid #F2F2F2;
    border-radius: 25px;
    padding: 0.5em 1em 0.5em 0;
    border-left: none;
    font-size: 1.2em;
}

.filtered_flex span:hover
{
    background-color: #e0ecfd;
    border-color: #e0ecfd;
}

.number
{
    display: flex;
    font-size: 0.8em;
}

.number i
{
    font-size: 0.7em;
    color: #0065FC;
    padding: 0.3em;
    border: 0.8mm solid #F2F2F2;
    border-radius: 50%;
    margin: 1em 0.5em 1em 0;
    width:1em;
    height:1em;
    text-align: center;
}

/* results */

.results
{
    display: flex;
    justify-content: space-between;
}

.city_results
{
    width: 63%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.city_results>div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2em 0 2em;
}

.city_results h2
{
    margin: 1em 2em 1em 1.5em;
    padding-top: 0.5em;
}

.thumbnail_city
{
    background-color: white;
    border: 1mm solid white;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.thumbnail_city img
{
    width: 100%;
    height: 8em;
    border-radius: 15px 15px 0 0;
    object-fit: cover; 
}

.info_results
{
    color: black;
    font-size: 0.8em;
    margin-left: 1em;
    line-height: 1em;
}

.show_results a
{
    color: black;
    margin: 0 0 2em 0;
    font-weight: bold;
}

/* popular */

.popular_results
{
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.popular_results h2
{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    margin: 1em 1em 1em 1.5em;    
}

.popular_flex
{
    display: flex; 
}

.popular_flex img
{
    min-width: 10em;
    max-width: 10em;
    height: 13em;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.popular_results>div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 34.375em; /* 550px */
    
}

.stars
{
    padding-bottom: 1em;
}

.thumbnail_popular
{
    border: 1mm solid white;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    font-size: 0.8em;
    height: 30%;
    margin: 0 2em 0 2em;
}

.thumbnail_popular a
{
    color: black;
    display: flex;
}

.popular_flex>div
{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

/* activités */
.activities
{
    margin-top: 3em;
}

.block_activities
{
    display: flex;
    justify-content: space-between;
}

.activities_simple
{
    width: 22%;
}

.activities_simple>.thumbnail_activities
{
    height: 100%;
}

.activities_double
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.big
{
    width: 100%;
    height: 25em;
}

.average
{
    width: 100%;
    height: 11em;
}

.small
{
    width: 100%;
    height: 7em;
}

.thumbnail_activities
{
    border-radius: 15px 15px 15px 15px;
}

.thumbnail_activities img
{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.thumbnail_activities a
{
    display: block;
}

.thumbnail_activities h3
{
    padding-bottom: 1em;
    margin-left: 1.5em;
    color: black;
    max-height: 1em;
}

/* footer */

footer
{
    background-color: #F2F2F2;
    padding-bottom: 2em;
    margin-top: 2em;
}

.nav_footer
{
    width: 90%;
    margin: auto;
    display: flex;
}

.block_footer
{
    margin-right: 10em;
    padding-top: 2em;
}

.block_footer h2
{
    font-size: 1em;
}

.block_footer ul
{
    padding: 0;
}

.block_footer a
{
    color: black;
    line-height: 2em;
}

/* Responsive */

@media (max-width: 991px){

.logo img
{
    width: 15em;
	height: 5em;
}

.nav_inscrire
{
    height: 5em;
}
.nav_header_resource 
{
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
}

.nav_header_resource a
{
    border-bottom: 2px solid gray;
}

.nav_header_resource .activ
{
    border-bottom: 2px solid #0065FC;
    border-top: none !important;
}

.nav_header_resource li, .nav_header_resource a
{
    width: 100%;

}

header
{
    align-items: flex-start;
}

.nav_header>ul
{
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 2em;
}

h1
{
    font-size: 3.5em;
    line-height: 1.2em;
}

.research
{
    font-size: 3em;
    width: 100%;
    padding: 1em 0 1em 0;
}

.research>i
{
    border-radius: 45px 0 0 45px;
}


.research input
{
    width: 100%;
    font-size: 1em;
}

.research button
{
    border-radius: 45px 45px 45px 45px;
}

.research>button>i
{
    display: block;
}

.research>button>span
{
    display: none;
}

.research>button>i
{
    padding: 0.8em;
    font-size: 3em;
}

.filtered
{
    flex-direction: column;
    font-size: 2em;
}

.title_filtered
{
    margin-bottom: 1em;
    font-size: 1.5em;
}

.filtered_flex
{
    display: flex;
    flex-direction: column;
}

.filtered_flex>span
{
    border: 3mm solid #F2F2F2;
    border-left: none;
    padding:0;
    margin: 0.5em;
    border-radius: 100px 100px 100px 100px
}

.filtered_flex i
{
    font-size: 1.5em;
}

.number
{
    font-size: 2.5em;
    line-height: 1.2em;
}

.results
{
    flex-direction: column-reverse;
}

.popular_results
{
    width: 100%;
    border-radius: 0;
    font-size: 2em;
    padding-bottom: 2em;
}

.thumbnail_popular h3
{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0.5em;
}

.thumbnail_popular p
{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0;
}

.city_results
{
    background-color: white;
    width: 100%;
}

.city_results h2
{
    font-size: 3.5em;
    line-height: 1.2em;
    margin: 1em 0 1.5em 0;
}

.city_results>div
{
    flex-direction: column;
    margin: 0;
}

.thumbnail_city
{
    width: auto;
}

.thumbnail_city img
{
    height: 20em;
}

.info_results
{
    font-size: 1.5em;
}

.info_results i
{
    font-size: 0.6em;
}

.show_results a
{
    font-size: 2em;
    margin: 1.5em 0 1.5em 0;
}

.block_activities
{
    flex-direction: column;
    margin: 0;
}

.activities_simple, .activities_double
{
    width: auto;
}

.activities_double article
{
    margin-bottom: 50px;
}

.thumbnail_activities img
{
    height: 20em;
}

.thumbnail_activities h3
{
    font-size: 2.5em;
}

.nav_footer
{
    flex-direction: column;
    font-size: 2em;
}

}

@media (max-width: 768px) {


.nav_header>ul
{
    flex-direction:column-reverse;
}

.nav_header>ul>li
{
    padding: 0.5em 0 0.5em 0;
}

.filtered_flex strong
{
    display: none;
    font-size: 0.5em;
}

.filtered_flex span
{
    border: none;
    font-size: 0.5em;
}

.filtered_flex
{
    flex-direction: row;
}

.popular_results h2
{
    font-size: 1em;
}

.popular_flex img
{
    min-width: 8em;
    max-width: 5em;
}

.block_activities h3
{
    font-size: 1.2em;  
}

.nav_footer
{
    font-size: 1em;
}

.block_footer
{
    line-height: 1em;
    margin-right: 0;
}

}
